@import "../../scss/variables.scss";

.entryModal {
  display: flex;
  flex-direction: column;
  width: 340px;
  max-width: calc(100vw - 56px);

  h2 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 12px;
  }
  label {
    margin-bottom: 12px;
    font-weight: 600;

    display: flex;
    flex-direction: column;
  }
  input,
  select {
    margin-top: 2px;
    padding: 2px 8px;
    border: $border-10;
    border-radius: 8px;

    &:hover {
      border: $border-30;
    }
  }
  select {
    //  remove select arrow
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  .durationInputContainer {
    display: flex;
    .durationInput {
      display: flex;
      align-items: flex-end;
      input {
        width: 40px;
        margin-right: 2px;
        text-align: center;
      }
    }
    > :first-child {
      margin-right: 12px;
    }
  }
  .startTimeInputContainer {
    display: flex;
    input {
      width: 110px;
      margin-right: 2px;
      text-align: center;
    }
    > :first-child {
      margin-right: 12px;
    }
  }
}
