.background {
  z-index: 1000;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modalContainer {
  padding: 12px 20px;
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.2);
  background: white;
  position: relative;
  border-radius: 16px;

  .closeModalBtn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    top: 6px;
    right: 10px;
    padding: 1px 4px;

    width: 28px;
    height: 28px;

    background: none;
    border: none;
    outline: none;
    border-radius: 50%;

    .icon {
      width: 20px;
      height: 20px;
      color: rgba(0, 0, 0, 0.65);
    }
    &:hover {
      cursor: pointer;
      background: rgba(0, 0, 0, 0.2);
    }
  }
}
