@import "../../../scss/variables.scss";

.dropdownMenu {
  position: relative;

  .dropdown {
    position: absolute;
    top: 125%;
    right: 0;
    border-radius: 8px;
    border: $border-30;
    background: #ffffff;
    padding: 4px;
    z-index: 100;
  }
}
