.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  padding: 16px 24px 24px 24px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin: 0px 16px;
  color: rgba(0, 0, 0, 0.75);

  p {
    vertical-align: bottom;
    font-size: 12px;
    margin-bottom: 4px;

    a {
      color: #f96262;
      text-decoration: none; /* no underline */
    }
    .icon {
      height: 14px;
      width: 14px;
      margin: 0px 3px;
      color: rgba(0, 0, 0, 0.65);

      &:hover {
        cursor: pointer;
      }
    }
  }
}

// Desktop breakpoint
@media screen and (min-width: 1024px) {
  .footer {
    display: flex;
    flex-direction: row;
    align-content: flex-end;
    justify-content: flex-start;
    p {
      margin-right: 48px;
      margin-bottom: 0px;
    }
  }
}
