.entryLog {
  display: flex;
  flex-direction: column;

  width: 340px;
  margin-top: 48px;
}
.entryHead {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  font-size: 18px;
  font-weight: 700;
  padding: 0px 12px;
}
.entryTable {
  display: flex;
  flex-direction: column;

  margin-bottom: 16px;
  padding: 8px 12px;

  border: 1px solid rgba(25, 4, 69, 0.1);
  border-radius: 16px;
  background: white;
}
.entryRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 4px 8px;
  margin: 3px 0px;
  height: 28px;
  font-size: 16px;
  border-radius: 8px;

  .duration {
    font-weight: 700;
  }
}
.pomodoro {
  background: rgba(247, 112, 86, 0.15);
}
.shortBreak {
  background: #e8f1f3;
}
.longBreak {
  background: #eceefa;
}
