// Entry Logs
.entryLog {
  display: flex;
  flex-direction: column;

  width: 340px;
  margin-top: 48px;
}

// Entry Tables
.entryHead {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  font-size: 18px;
  font-weight: 700;
  padding: 0px 12px;
}
.entryTable {
  display: flex;
  flex-direction: column;

  margin-bottom: 20px;
  padding: 8px 12px;

  border: 1px solid rgba(25, 4, 69, 0.1);
  border-radius: 16px;
  background: white;
}

// Entry Row
.entryRow {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  height: 28px;
  padding: 2px 8px;
  margin: 3px 0px;

  font-size: 16px;
  border-radius: 8px;
  border: 1px solid rgba(25, 4, 69, 0);

  p {
    line-height: 24px;
  }
  .duration {
    font-weight: 700;
  }
  &:hover {
    border: 1px solid rgba(25, 4, 69, 0.3);
  }

  .buttonContainer {
    position: absolute;
    visibility: hidden;
    right: 8px;

    // Vertically center in entryrow
    top: 50%;
    transform: translateY(-50%);

    button {
      margin: 0px 2px;
      padding: 1px 4px;

      background: white;
      border: none;
      outline: none;
      border-radius: 4px;
      .icon {
        width: 14px;
        height: 14px;
      }
      &:hover {
        cursor: pointer;
      }
    }
    .editButton {
      .icon {
        color: rgba(0, 0, 0, 0.54);
      }
      &:hover {
        .icon {
          color: rgba(0, 0, 0, 0.65);
        }
      }
    }
    .deleteButton {
      .icon {
        color: rgba(226, 19, 19, 0.54);
      }
      &:hover {
        .icon {
          color: rgba(226, 19, 19, 0.65);
        }
      }
    }
  }
  &:hover .buttonContainer {
    visibility: visible;
  }
}
.pomodoro {
  background: rgba(249, 98, 98, 0.2);
}
.shortBreak {
  background: rgba(91, 184, 165, 0.2);
}
.longBreak {
  background: rgba(34, 153, 212, 0.2);
}
