.timer {
  // For all buttons in timer
  button {
    margin: 0px 6px;
    padding: 4px 12px;
    border: none;
    outline: none;
    border-radius: 33px;

    &:hover {
      cursor: pointer;
    }
  }
}

// Types Buttons - Pomodoro, SB, LB
.typesButtonContainer {
  display: flex;
  justify-content: center;
  margin-top: 48px;

  button {
    display: flex;
    justify-content: center;

    font-weight: 700;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.5);
    width: 100px;

    transition: color 0.1s linear, background-color 0.1s linear;

    .icon {
      width: 24px;
      height: 24px;
      margin-right: 8px;
    }
    &:hover {
      color: rgba(0, 0, 0, 0.9);
    }
  }
  .pomodoroButton {
    background-color: rgba(249, 98, 98, 0.5);
    &:hover {
      background-color: rgba(249, 98, 98, 0.7);
    }
    &.active {
      color: rgba(0, 0, 0, 0.9);
      background-color: rgba(249, 98, 98, 0.7);
    }
  }
  .shortBreakButton {
    background-color: rgba(91, 184, 165, 0.5);
    &:hover {
      background-color: rgba(91, 184, 165, 0.7);
    }
    &.active {
      color: rgba(0, 0, 0, 0.9);
      background-color: rgba(91, 184, 165, 0.7);
    }
  }
  .longBreakButton {
    background-color: rgba(34, 153, 212, 0.5);
    &:hover {
      background-color: rgba(34, 153, 212, 0.7);
    }
    &.active {
      color: rgba(0, 0, 0, 0.9);
      background-color: rgba(34, 153, 212, 0.7);
    }
  }
}

// Control Timer Buttons - Reset, Cancel & Save, Start/Stop
.controlsButtonContainer {
  display: flex;
  justify-content: center;

  button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 64px;
    height: 64px;

    background-color: rgba(226, 226, 226, 0.6);

    .icon {
      width: 24px;
      height: 24px;
      color: rgba(0, 0, 0, 0.54);
    }
    &:hover {
      .icon {
        color: rgba(0, 0, 0, 0.65);
      }
    }
  }
  .startStopButton {
    width: 176px;
    background-color: #d2f07b;
  }
}

// Timer
.timerContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 16px;
  margin-bottom: 16px;
  width: 340px;
  height: 340px;

  h2 {
    z-index: 300;
    margin-top: 8px; //center in circle (p height = 19px)
    font-weight: 500;
    font-size: 72px;
    color: white;
  }
  p {
    z-index: 300;
    font-size: 16px;
    color: white;
  }
  .innerCircle {
    position: absolute;
    z-index: 200;

    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    mix-blend-mode: normal;

    transition: background-color 0.5s ease-in-out;

    &.pomodoro {
      background-color: #f96262;
    }
    &.shortBreak {
      background-color: #5bb8a5;
    }
    &.longBreak {
      background-color: #2299d4;
    }
  }
  .outerCircle {
    position: absolute;
    z-index: 0;

    width: 340px;
    height: 340px;

    svg {
      transform: scaleX(-1);
      g {
        fill: none;
        stroke: none;
      }
      circle {
        stroke-width: 7px;
        transition: stroke 0.5s ease-in-out;
      }
      path {
        /* Just as thick as the original ring */
        stroke-width: 7px;

        /* Makes sure the animation starts at the top of the circle */
        transform: rotate(90deg);
        transform-origin: center;

        /* 1s aligns with the speed of the countdown */
        transition: all 1s linear;
        /* Does not perfectly align with timer (i.e. timer doesn't make a full revolution when reaches 0)
          Due to the setTimeout 250ms (?) */
      }
    }
    &.pomodoro {
      circle {
        stroke: rgba(249, 98, 98, 0.2);
      }
      path {
        stroke: rgba(249, 98, 98, 0.5);
      }
    }
    &.shortBreak {
      circle {
        stroke: rgba(91, 184, 165, 0.2);
      }
      path {
        stroke: rgba(91, 184, 165, 0.5);
      }
    }
    &.longBreak {
      circle {
        stroke: rgba(34, 153, 212, 0.2);
      }
      path {
        stroke: rgba(34, 153, 212, 0.5);
      }
    }
  }
}

// Description
.descriptionContainer {
  margin-top: 32px;

  input {
    padding: 4px 12px;
    width: 100%;
    height: 32px;
    border: none;
    outline: none;
    border: 1px solid rgba(25, 4, 69, 0.1);
    border-radius: 16px;
    font-size: 18px;

    &:hover {
      border: 1px solid rgba(25, 4, 69, 0.3);
    }
  }
}
