.timer {
  // For all buttons in timer
  button {
    margin: 0px 6px;
    padding: 4px 12px;
    border: none;
    outline: none;

    border: 1px solid rgba(25, 4, 69, 0.1);
    box-shadow: 0px 3px 7px rgba(25, 4, 69, 0.15);
    border-radius: 33px;
    transition: box-shadow 0.1s linear;

    &:hover {
      cursor: pointer;
      border: 1px solid rgba(25, 4, 69, 0.3);
      box-shadow: 0px 3px 7px rgba(25, 4, 69, 0.25);

      // Behaves like mousedown event
      &:active {
        box-shadow: inset 0px 0px 3px rgba(25, 4, 69, 0.3);
      }
    }
  }
}

// Types Buttons - Pomodoro, SB, LB
.typesButtonContainer {
  display: flex;
  justify-content: center;
  margin-top: 48px;

  button {
    display: flex;
    align-items: flex-end;

    font-weight: 700;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.54);

    .icon {
      width: 24px;
      height: 24px;
      margin-right: 8px;
    }
  }
  .pomodoroButton {
    background: #f9d3d3;
  }
  .shortBreakButton {
    background: #e8f1f3;
  }
  .longBreakButton {
    background: #eceefa;
  }
  .active {
    border: 1px solid rgba(25, 4, 69, 0.3);
  }
}

// Control Timer Buttons - Reset, Cancel & Save, Start/Stop
.controlsButtonContainer {
  display: flex;
  justify-content: center;

  button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 64px;
    height: 64px;

    background: #f3f3f3;

    .icon {
      width: 24px;
      height: 24px;
      color: rgba(0, 0, 0, 0.54);
    }
    &:hover {
      .icon {
        color: rgba(0, 0, 0, 0.65);
      }
    }
  }
  .startStopButton {
    width: 176px;
    background: #dbf495;
  }
}

// Timer
.timerContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 16px;
  margin-bottom: 16px;
  width: 340px;
  height: 340px;

  h2 {
    z-index: 300;
    margin-top: 10px; //center in circle (p height = 19px)
    font-weight: 700;
    font-size: 72px;
    color: white;
  }
  p {
    z-index: 300;
    font-size: 16px;
    color: white;
  }
  .innerCircle {
    position: absolute;
    z-index: 100;

    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    mix-blend-mode: normal;

    transition: background-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;

    &.pomodoro {
      background-color: #ec5054;
      box-shadow: 0px 0px 4px 4px rgba(173, 42, 42, 0.25);
    }
    &.shortBreak {
      background: #54a1a4;
      box-shadow: 0px 0px 4px 4px rgba(84, 161, 164, 0.25);
    }
    &.longBreak {
      background-color: #776aa8;
      box-shadow: 0px 0px 4px 4px rgba(119, 106, 168, 0.25);
    }
  }
  .middleCircle {
    position: absolute;
    z-index: 200;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 260px;
    height: 260px;
    border-radius: 50%;

    background: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
  }
  .outerCircle {
    position: absolute;
    z-index: 0;

    width: 340px;
    height: 340px;

    svg {
      transform: scaleX(-1);
      g {
        fill: none;
        stroke: none;
      }
      circle {
        stroke-width: 7px;
        transition: stroke 0.5s ease-in-out;
      }
      path {
        /* Just as thick as the original ring */
        stroke-width: 7px;

        /* Makes sure the animation starts at the top of the circle */
        transform: rotate(90deg);
        transform-origin: center;

        /* 1s aligns with the speed of the countdown */
        transition: all 1s linear;
        /* Does not perfectly align with timer (i.e. timer doesn't make a full revolution when reaches 0)
          Due to the setTimeout 250ms (?) */
      }
    }
    &.pomodoro {
      circle {
        stroke: rgba(241, 66, 72, 0.1);
      }
      path {
        stroke: rgba(247, 112, 86, 0.6);
      }
    }
    &.shortBreak {
      circle {
        stroke: #d1eaeb;
      }
      path {
        stroke: #a5d3d5;
      }
    }
    &.longBreak {
      circle {
        stroke: #d6d1eb;
      }
      path {
        stroke: #b2a4e8;
      }
    }
  }
}

// Description
.descriptionContainer {
  margin-top: 32px;

  input {
    padding: 4px 12px;
    width: 100%;
    height: 32px;
    border: none;
    outline: none;
    border: 1px solid rgba(25, 4, 69, 0.1);
    border-radius: 16px;
    font-size: 18px;

    &:hover {
      border: 1px solid rgba(25, 4, 69, 0.3);
    }
  }
}
